<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="stylesheet" href="/static/bootstrap-5.3.2-dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/bootstrap-5.3.2-dist/js/bootstrap.min.js">

        <link rel="icon" type="image/x-icon" href="/static/assets/favicon.ico">

        <title>{{.Title}}</title>
    </head>
    <body>
        {{template "navbar.html" .}}

        <div class="text-center">
            <h1>{{.Title}}</h1>
            <p>{{.Content}}</p>
        </div>

        <div class="container">
            <div class="panel-heading">
                <h3 class="panel-title">Users</h3>
            </div>
            <div>
                <button class="btn btn-primary" onclick="openAddUserPage()">Add new user</button>
            </div>
            <table class="table table-bordered table-responsive">
                <thead>
                    <tr>
                        <td>ID</td>
                        <td>USERNAME</td>
                        <td>PASSWORD</td>
                        <td>ACTIONS</td>
                    </tr>
                </thead>
                <tbody>
                    {{range .Users}}
                    <tr>
                        <th scope="row">{{.ID}}</th>
                        <td>{{.USERNAME}}</td>
                        <td>{{.PASSWORD}}</td>
                        <td>
                            <button class="btn btn-primary" onclick="openEditUserPage('{{.ID}}')">Edit</button>
                            <button class="btn btn-primary" onclick="showDeleteAlert('{{.ID}}')">Delete</button>
                        </td>
                    </tr>
                    {{end}}
                </tbody>
            </table>
        </div>

        <script>
            function openAddUserPage() {
                window.location.href = "/add_user";
            }

            function openEditUserPage(id) {
                window.location.href = "/edit_user/" + id;
            }

            function showDeleteAlert(id) {
                var result = window.confirm("Are you sure you want to delete user " + id + "?");
                if (result) {
                    window.location.href = "/delete_user/" + id;
                }
            }
        </script>

        <script src="/static/bootstrap-5.3.2-dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>