<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="stylesheet" href="/static/bootstrap-5.3.2-dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/bootstrap-5.3.2-dist/js/bootstrap.min.js">

        <link rel="icon" type="image/x-icon" href="/static/assets/favicon.ico">

        <style>
            .list-group {
                max-height: 300px;
                margin-bottom: 10px;
                overflow: scroll;
                -webkit-overflow-scrolling: touch;
            }
        </style>

        <title>{{.Title}}</title>
    </head>
    <body>
        {{template "navbar.html"}}
        
        <div class="text-center">
            <h1>{{.Title}}</h1>
            <p>{{.Content}}</p>
        </div>

        <div class="container" style="width: 50%;">
            <div class="row">
                <div class="text-center">
                    <img class="rounded" src="/static/assets/logo.png">
                </div>
    
                <form action="/addservice" method="post">
                    <div class="form-group mb-2">
                        <label for="service-name">Name</label>
                        <input type="text" id="service-name" name="service-name" class="form-control" required>
                    </div>
                    <div class="form-group mb-2">
                        <label for="service-price">Price</label>
                        <input type="text" id="service-price" name="service-price" class="form-control" required>
                    </div>
                    <div class="form-group mb-2">
                        <button type="submit" class="form-control btn btn-primary">Add service</button>
                    </div>
                </form>
            </div>

            <div class="row">
                <div class="panel panel-primary" id="result_panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">Services</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            {{range .Services}}
    
                            <li class="list-group-item">
                                <p>ID: {{index . 0}} Name: {{index . 1}} Price: {{index . 2}}</p>
                            </li>
    
                            {{end}}
                        </ul>
                    </div>
                </div>
            </div>

        </div>

        <script src="/static/bootstrap-5.3.2-dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>